@model IEnumerable<Domain.GNB.Dto.TransactionsDto>
@using Web.GNB.Controllers;
@addTagHelper *,WebGNB
@{
    ViewData["Title"] = "Index";
}

<environment include="Development">
    <link href="~/lib/thirdPartyLibrary/datatables.net-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />
</environment>

<style>
    th {
        white-space: nowrap;
    }
</style>

<ol class="breadcrumb">
    @*<li class="breadcrumb-item"><a asp-controller="Home" asp-action="@nameof(HomeController.Index)">Dashboard</a></li>*@
    <li class="breadcrumb-item">Rates</li>
</ol>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header" style="background-color: #25a7c1">
                    <div class="row">
                        <div class="col-11">
                            <span class="card-title text-white"><i class="fa fa-filter"></i>Search Transaction</span>
                        </div>
                        <div class="col-1">
                            <div class="card-actions float-right text-white cursor-pointer">
                                <a data-action="collapse" data-collapse="open"><i class="ti-minus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body collapse show">
                    <form asp-controller="Transactions" asp-action="Index" method="post" class="form-body">
                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label class="col-form-label"> Sku code</label>
                                <div class="input-group ">
                                    <input id="sku" name="sku" class="form-control input-filter">
                                    <span class="input-group-append input-group-addon">
                                        <span class="input-group-text"><i class="fa fa-sm fa-id-card"></i></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer float-right">
                            <button id="btnSearch" class="btn btn-info "><span class="fa fa-sm fa-search"></span> Search</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card"></div>
            <div class="card-header" style="background-color: #25a7c1">
                <div class="row">
                    <div class="col-11">
                        <span class="card-title text-white"><i class="fa fa-table"></i> Transactions</span>
                    </div>
                    <div class="col-1">
                        <div class="card-actions float-right text-white cursor-pointer">
                            <a data-action="collapse"><i class="ti-minus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container-fluid">
            <div class="section-image" data-image="~/img/backgroun/bg5.jpg" ;>
                <div class="row">
                    <div class="col-md-12">
                        <br />
                        <br />
                        <div class="card data-tables">
                            <div class="card-body table-striped table-no-bordered table-hover dataTable dtr-inline table-full-width">
                                <div class="toolbar">
                                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                                </div>
                                <div class="fresh-datatables">
                                    <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.Sku)</th>
                                                <th>@Html.DisplayNameFor(model => model.Currency)</th>
                                                <th>@Html.DisplayNameFor(model => model.Amount)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Sku)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Currency)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Amount)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th colspan="2" style="text-align:right">Total Page:</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<environment include="Development">
    <script src="~/lib/thirdPartyLibrary/datatables.net/jquery.dataTables.js"></script>
    <script src="~/lib/thirdPartyLibrary/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
</environment>
<script type="text/javascript">
    $(document).ready(function () {
        $('#datatables').DataTable({
            "footerCallback": function (row, data, start, end, display) {
                var api = this.api(), data;

                // Remove the formatting to get integer data for summation
                var intVal = function (i) {
                    return typeof i === 'string' ?
                        i.replace(/[\$,]/g, '') * 1 :
                        typeof i === 'number' ?
                            i : 0;
                };

                // Total over all pages
                total = api
                    .column(2)
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Total over this page
                pageTotal = api
                    .column(2, { page: 'current' })
                    .data()
                    .reduce(function (a, b) {
                        return intVal(a) + intVal(b);
                    }, 0);

                // Update footer
                $(api.column(2).footer()).html(
                    '€' + pageTotal.toFixed(2) + ' ( € ' + total.toFixed(2) + ' Total Amount)'
                );
            }
        });
    });
</script>