@using Web.GNB.Controllers;
<div class="sidebar" data-color="azure" data-image="/img/backgroun/bgmenu.jpg">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a asp-controller="Home" asp-action="@nameof(HomeController.Index)" class="simple-text logo-mini">
                <img src="~/img/banner/grupo-rgb-ico.png" alt="GNB" />
            </a>
            <a asp-controller="Home" asp-action="@nameof(HomeController.Index)" class="simple-text logo-normal">
                <img src="~/img/banner/grupo-rgb.png" alt="GNB" />
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item ">
                <a asp-controller="Home" asp-action="@nameof(HomeController.Index)" class="nav-link">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Rates" asp-action="@nameof(RatesController.Index)" class="nav-link">
                    <i class="nc-icon nc-app"></i>
                    <p>Rates</p>
                </a>
            </li>
            <li class="nav-item ">
                <a asp-controller="Transactions" asp-action="@nameof(TransactionsController.Index)" class="nav-link">
                    <i class="nc-icon nc-puzzle-10"></i>
                    <p>Transactions</p>
                </a>
            </li>
        </ul>
    </div>
</div>